* {
  box-sizing: border-box;
}

html, body, .carcustom {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(248, 244, 244);
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
}

.carcustom {
  height: 1000px; /* Specific height for your custom element */
  width: 1000px; /* Specific width for your custom element */
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  .carcustom {
      width: 100%; /* Adjust width for smaller screens */
      height: auto; /* Maintain aspect ratio */
  }
}
